[submodule "external/pipeline-Nextflow-module"]
	path = external/pipeline-Nextflow-module
	url = git@github.com:TheBoutrosLab/pipeline-Nextflow-module.git
[submodule "external/pipeline-Nextflow-config"]
	path = external/pipeline-Nextflow-config
	url = git@github.com:TheBoutrosLab/pipeline-Nextflow-config.git
